<h1> Busca de Receitas </h1>
<h2> Total de Receitas encontradas: <%= @recipes.size %> </h2>

<% if @recipes.empty? %>
  <strong>'Nenhuma receita encontrada !'</strong>
<% end %>

<% @recipes.each do |recipe|%>
  <h3> <%= recipe.title %> </h3>
<% end %>